.bambora_formtext_image {
    font-weight: bold;
}

.bambora_form_paymentcard {
    display: inline-block;
    padding: 2px 0;
}
h2.bambora_redirect,
h3.bambora_redirect {
    display: inline-block;
    text-align: center;
    width: 100%;
}