<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Bambora_BamboraCheckout>
      <version>1.0.0.0</version>
    </Bambora_BamboraCheckout>
  </modules>

  <global>
    <helpers>
      <bamboracheckout>
        <class>Bambora_BamboraCheckout_Helper</class>
      </bamboracheckout>
    </helpers>
    <blocks>
      <bamboracheckout>
        <class>Bambora_BamboraCheckout_Block</class>
      </bamboracheckout>
      <adminhtml>
        <rewrite>
          <sales_order_view_tab_info>Bambora_BamboraCheckout_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
        </rewrite>
      </adminhtml>
    </blocks>
    <models>
      <bamboracheckout>
        <class>Bambora_BamboraCheckout_Model</class>
      </bamboracheckout>
      <bamboramodels>
        <class>Bambora_BamboraCheckout_Model_BamboraModels</class>
      </bamboramodels>
      <bamboraproviders>
        <class>Bambora_BamboraCheckout_Model_BamboraProviders</class>
      </bamboraproviders>
    </models>
    <resources>
      <magecheckout_setup>
        <setup>
          <module>Bambora_BamboraCheckout</module>
        </setup>
      </magecheckout_setup>
    </resources>
  </global>

  <default>
    <payment>
      <bamboracheckout>
        <model>bamboracheckout/bambora</model>
        <active>1</active>
        <title>Bambora Checkout</title>
        <merchantnumber></merchantnumber>
        <accesstoken></accesstoken>
        <secrettoken></secrettoken>
        <md5key></md5key>
        <windowid>1</windowid>
        <instantcapture>0</instantcapture>
        <windowstate>1</windowstate>
        <immediateredirecttoaccept>0</immediateredirecttoaccept>
        <addfeetoshipping>0</addfeetoshipping>
        <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <sort_order>1</sort_order>
      </bamboracheckout>
    </payment>
  </default>

  <frontend>
    <layout>
      <updates>
        <bamboracheckout>
          <file>bambora.xml</file>
        </bamboracheckout>
      </updates>
    </layout>
    <secure_url>
      <bamboracheckout_payment>/bamboracheckout/payment</bamboracheckout_payment>
    </secure_url>
    <routers>
      <bamboracheckout>
        <use>standard</use>
        <args>
          <module>Bambora_BamboraCheckout</module>
          <frontName>bamboracheckout</frontName>
        </args>
      </bamboracheckout>
    </routers>
    <translate>
      <modules>
        <Bambora_BamboraCheckout>
          <files>
            <default>Bambora_BamboraCheckout.csv</default>
          </files>
        </Bambora_BamboraCheckout>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <bamboracheckout>
          <file>bambora.xml</file>
        </bamboracheckout>
      </updates>
    </layout>
  </adminhtml>

</config>
