<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <bamboracheckout translate="label comment" module="bamboracheckout">
          <label>Bambora Checkout 1.0.0 (beta)</label>
          <comment><![CDATA[Detailed description of these settings are to be found <a href="http://dev.bambora.com/carts.html#magento" target="_blank">here</a>.<br><br>]]></comment>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <expanded>1</expanded>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <active translate="label comment">
              <label><![CDATA[<b>Enabled:</b>]]></label>
              <comment><![CDATA[To enable and disable this payment method.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>
            <title translate="label comment">
              <label><![CDATA[<b>Title:</b>]]></label>
              <comment><![CDATA[The title of the payment method displayed to the customers.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </title>
            <merchantnumber translate="label comment">
              <label><![CDATA[<b>Merchant number:</b>]]></label>
              <comment><![CDATA[The number identifying your Bambora merchant account. If you don't know your merchant number, please <a href="https://merchant.bambora.com" target="_blank">log into your Bambora account.</a> Go to <b>Settings -> Merchant numbers</b> to view your merchant number.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </merchantnumber>
            <accesstoken translate="label comment">
              <label><![CDATA[<b>Access token:</b>]]></label>
              <comment><![CDATA[The Access token for the API user received from the Bambora administration. If you don't know your Access token please <a href="https://merchant.bambora.com" target="_blank">log into your Bambora account.</a> Go to <b>Settings -> API users</b> to view or create a new API user.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </accesstoken>
            <secrettoken translate="label comment">
              <label><![CDATA[<b>Secret token:</b>]]></label>
              <comment><![CDATA[The Secret token for the API user received from the Bambora administration. The Secret token is only displayed to you when you create a new API user and as such you should take note of it. If you have lost your Secret token, <a href="https://merchant.bambora.com" target="_blank">log into your Bambora account</a> and create a new API user. Go to <b>Settings -> API users -> Create API users</b>]]></comment>
              <frontend_type>password</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </secrettoken>
            <md5key translate="label comment">
              <label><![CDATA[<b>MD5 Key:</b>]]></label>
              <comment><![CDATA[The MD5 key is used to stamp data sent between Magento and Bambora to prevent it from being tampered with. The MD5 key is optional but if used here, must be the same as in the Bambora administration. To view your MD5 key please <a href="https://merchant.bambora.com" target="_blank">log into your Bambora account</a> and go to <b>Settings -> Merchant numbers -> Edit</b>]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </md5key>
            <windowid translate="label comment">
              <label><![CDATA[<b>Window ID:</b>]]></label>
              <comment><![CDATA[The ID of the payment window to use. You can find the available payment windows in the Bambora administration. Please <a href="https://merchant.bambora.com" target="_blank">log into your Bambora account</a> and go to <b>Settings -> Payment windows.</b>]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </windowid>
            <instantcapture translate="label comment">
              <label><![CDATA[<b>Instant capture:</b>]]></label>
              <comment><![CDATA[Set to <b>Yes</b> if you wish to capture payments at the same time they are authorized. In some countries, this is only permitted if the consumer receives the products right away Ex. digital products.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </instantcapture>
            <windowstate translate="label comment">
              <label><![CDATA[<b>Windows state:</b>]]></label>
              <comment><![CDATA[Set to <b>Overlay</b> for the Payment Window to open as a overlayed window on top of the store. The store will be visible behind the payment window. Set to <b>Full Screen</b> to open the payment window in the same window but in full-screen. The store will not be visible in this setting.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>bamboracheckout/system_config_source_windowstate</source_model>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </windowstate>
            <immediateredirecttoaccept translate="label comment">
              <label><![CDATA[<b>Immediate Redirect</b>]]></label>
              <comment><![CDATA[Set to <b>Yes</b> to immediately redirect your customer back to you shop after the payment completed.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </immediateredirecttoaccept>
            <addfeetoshipping translate="label comment">
              <label><![CDATA[<b>Add payment fee to the "shipping and handling amount":</b>]]></label>
              <comment><![CDATA[If the customer pays for the payment fee the amount will not be displayed on the order confirmation. However it is possible to add the amount to the shipping and handling amount displayed at the bottom of the order confirmation.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </addfeetoshipping>
            <sendmailorderconfirmation translate="label comment">
              <label><![CDATA[<b>Send Email Order Confirmation:</b>]]></label>
              <comment><![CDATA[Enabling this setting will result in an order confirmation is e-mailed to the customer as the payment is made.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sendmailorderconfirmation>
            <sort_order translate="label comment">
              <label><![CDATA[<b>Sort order:</b>]]></label>
              <comment><![CDATA[The order of which this payment method is displayed to the customer.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sort_order>
            
          </fields>
        </bamboracheckout>
      </groups>
    </payment>
  </sections>
</config>