.bambora_title {
    font-size: 13px;
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
}

.bambora_paymentcard {
    height: 17px;
    position: relative;
    vertical-align: middle;
}