<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Bambora_Online>
      <version>1.4.0</version>
    </Bambora_Online>
  </modules>
  <global>
    <helpers>
      <bambora>
        <class>Bambora_Online_Helper</class>
      </bambora>
    </helpers>
    <blocks>
      <bambora>
        <class>Bambora_Online_Block</class>
      </bambora>
    </blocks>
    <models>
      <bambora>
        <class>Bambora_Online_Model</class>
      </bambora>
      <bamboracheckout>
        <class>Bambora_Online_Model_Checkout</class>
      </bamboracheckout>
      <bamboracheckoutapi>
        <class>Bambora_Online_Model_Api_Checkout</class>
      </bamboracheckoutapi>
      <bamboracheckoutrequest>
        <class>Bambora_Online_Model_Api_Checkout_Request</class>
      </bamboracheckoutrequest>
      <bamboracheckoutrequestmodel>
        <class>Bambora_Online_Model_Api_Checkout_Request_Model</class>
      </bamboracheckoutrequestmodel>
      <bamboracheckoutresponse>
        <class>Bambora_Online_Model_Api_Checkout_Response</class>
      </bamboracheckoutresponse>
      <bamboracheckoutresponsemodel>
        <class>Bambora_Online_Model_Api_Checkout_Response_Model</class>
      </bamboracheckoutresponsemodel>
    </models>
  </global>
  <default>
    <payment>
      <bamboracheckout>
        <model>bamboracheckout/payment</model>
        <active>1</active>
        <title>Bambora Checkout</title>
        <paymentwindowid>1</paymentwindowid>
        <instantcapture>0</instantcapture>
        <windowstate>1</windowstate>
        <immediateredirecttoaccept>0</immediateredirecttoaccept>
        <enablesurcharge>0</enablesurcharge>
        <surchargemode>surcharge_order_line</surchargemode>
        <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <roundingmode>round_default</roundingmode>
        <onlyshowpaymentlogos>0</onlyshowpaymentlogos>
        <remoteinterface>1</remoteinterface>
        <instantinvoice>0</instantinvoice>
        <instantinvoicemail>0</instantinvoicemail>
        <captureinvoicemail>0</captureinvoicemail>
        <order_status>pending</order_status>
        <order_status_after_payment>processing</order_status_after_payment>
        <useautocancel>0</useautocancel>
        <sort_order>1</sort_order>
      </bamboracheckout>
    </payment>
  </default>
  <frontend>
    <layout>
      <updates>
        <bamboracheckout>
          <file>bambora.xml</file>
        </bamboracheckout>
      </updates>
    </layout>
    <secure_url>
      <bambora_checkout>/bambora/checkout</bambora_checkout>
    </secure_url>
    <routers>
      <bambora>
        <use>standard</use>
        <args>
          <module>Bambora_Online</module>
          <frontName>bamboraonline</frontName>
        </args>
      </bambora>
    </routers>
    <translate>
      <modules>
        <Bambora_Online>
          <files>
            <default>Bambora_Online.csv</default>
          </files>
        </Bambora_Online>
      </modules>
    </translate>
    <events>
      <sales_order_place_after>
        <observers>
          <bambora_checkout_order_placed_after_action>
            <class>bambora/checkout_observer</class>
            <method>orderPlacedAfter</method>
          </bambora_checkout_order_placed_after_action>
        </observers>
      </sales_order_place_after>
    </events>
  </frontend>
  <adminhtml>
    <events>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <bambora_massorder>
            <class>bambora/checkout_observer</class>
            <method>addMassOrderAction</method>
          </bambora_massorder>
        </observers>
      </core_block_abstract_prepare_layout_before>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <bambora_massinvoice>
            <class>bambora/checkout_observer</class>
            <method>addMassInvoiceAction</method>
          </bambora_massinvoice>
        </observers>
      </core_block_abstract_prepare_layout_before>
    </events>
    <layout>
      <updates>
        <bambora>
          <file>bambora.xml</file>
        </bambora>
      </updates>
    </layout>
    <translate>
      <modules>
        <Bambora_Online>
          <files>
            <default>Bambora_Online.csv</default>
          </files>
        </Bambora_Online>
      </modules>
    </translate>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Bambora_Checkout before="Mage_Adminhtml">Bambora_Online_Adminhtml</Bambora_Checkout>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <crontab>
    <jobs>
      <order_cancel_orders>
        <schedule>
          <cron_expr>*/10 * * * *</cron_expr>
        </schedule>
        <run>
          <model>bambora/checkout_observer::autocancelPendingOrders</model>
        </run>
      </order_cancel_orders>
    </jobs>
  </crontab>
</config>
