<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <bamboracheckout module="bambora">
          <label>Bambora Online Checkout 1.4.0</label>
          <comment><![CDATA[Detailed description of these settings are to be found <a href="https://developer.bambora.com/europe/shopping-carts/shopping-carts/magento" target="_blank">here</a>.<br><br>]]></comment>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <expanded>1</expanded>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active>
              <label><![CDATA[<b>Enabled:</b>]]></label>
              <comment><![CDATA[Set to Yes to allow your customers to use Bambora Checkout as a payment option.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title>
              <label><![CDATA[<b>Title:</b>]]></label>
              <comment><![CDATA[The title of the payment method displayed to the customers.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <merchantnumber>
              <label><![CDATA[<b>Merchant number:</b>]]></label>
              <comment><![CDATA[The number identifying your Bambora merchant account.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </merchantnumber>
            <accesstoken>
              <label><![CDATA[<b>Access token:</b>]]></label>
              <comment><![CDATA[The Access token for the API user received from the Bambora administration.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </accesstoken>
            <secrettoken>
              <label><![CDATA[<b>Secret token:</b>]]></label>
              <comment><![CDATA[The Secret token for the API user received from the Bambora administration.]]></comment>
              <frontend_type>obscure</frontend_type>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </secrettoken>
            <md5key>
              <label><![CDATA[<b>MD5 Key:</b>]]></label>
              <comment><![CDATA[The MD5 key is used to stamp data sent between Magento and Bambora to prevent it from being tampered with. The MD5 key is optional but if used here, must be the same as in the Bambora administration.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </md5key>
            <paymentwindowid>
              <label><![CDATA[<b>Payment Window ID:</b>]]></label>
              <comment><![CDATA[The ID of the payment window to use.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </paymentwindowid>
            <instantcapture>
              <label><![CDATA[<b>Instant capture:</b>]]></label>
              <comment><![CDATA[Capture the payments at the same time they are authorized. In some countries, this is only permitted if the consumer receives the products right away Ex. digital products.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </instantcapture>
            <windowstate>
              <label><![CDATA[<b>Window state:</b>]]></label>
              <comment><![CDATA[Set how the payment window should be displayet.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>bambora/system_config_source_windowstate</source_model>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </windowstate>
            <immediateredirecttoaccept>
              <label><![CDATA[<b>Immediate Redirect:</b>]]></label>
              <comment><![CDATA[Immediately redirect your customer back to you shop after the payment completed.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </immediateredirecttoaccept>
            <enablesurcharge>
              <label><![CDATA[<b>Enable Surcharge:</b>]]></label>
              <comment><![CDATA[Display surcharge amount on the order, invoice and creditmemo as an item]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enablesurcharge>
            <surchargemode>
              <label><![CDATA[<b>Surcharge mode</b>]]></label>
              <comment><![CDATA[Select if the surcharge should be added as an order line or if it should be added to the shipping & handling fee]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>bambora/system_config_source_surchargemode</source_model>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </surchargemode>
            <sendmailorderconfirmation>
              <label><![CDATA[<b>Send Email Order Confirmation:</b>]]></label>
              <comment><![CDATA[Send an email order confirmation to the customer when the payment is completed.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sendmailorderconfirmation>
            <roundingmode>
              <label><![CDATA[<b>Rounding mode</b>]]></label>
              <comment><![CDATA[Please select how you want the rounding of the amount sendt to the payment system]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>bambora/system_config_source_roundingmode</source_model>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </roundingmode>
            <onlyshowpaymentlogos>
              <label><![CDATA[<b>Only show payment logos at checkout</b>]]></label>
              <comment><![CDATA[Set to diable the title text and only display payment logos at checkout]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </onlyshowpaymentlogos>
            <remoteinterface>
              <label><![CDATA[<b>Enable remote payment proccessing from within Magento</b>]]></label>
              <comment><![CDATA[Enable this option in order to capture, credit, delete and display payments directly from the Magento backoffice]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </remoteinterface>
            <instantinvoice>
              <label><![CDATA[<b>Instant invoice:</b>]]></label>
              <comment><![CDATA[Enable this to create an invoice once the payment has been authorized. Notice that this will also capture the payment]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </instantinvoice>
            <instantinvoicemail>
              <label><![CDATA[<b>Instant invoice mail:</b>]]></label>
              <comment><![CDATA[Send an email to the customer when the instant invoice is created.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>17</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </instantinvoicemail>
            <masscaptureinvoicemail>
              <label><![CDATA[<b>Mass Invoice and Capture mail:</b>]]></label>
              <comment><![CDATA[Send invoice mail to the customers when bulk invoice and capture.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </masscaptureinvoicemail>
            <order_status>
              <label><![CDATA[<b>Order status (Before the payment is completed):</b>]]></label>
              <comment><![CDATA[Set the status of the order <b>before</b> the payment is completed.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <sort_order>19</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_status>
            <order_status_after_payment>
              <label><![CDATA[<b>Order status (After the payment is completed):</b>]]></label>
              <comment><![CDATA[Set the status of the order <b>after</b> the payment is completed.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_status_after_payment>
            <useautocancel>
              <label><![CDATA[<b>Use Auto-Cancel:</b>]]></label>
              <comment><![CDATA[If enabled this will auto-cancel orders where no payment has been made in the time interval: from 1 day ago until 1 hour ago. <b>Notice!</b> For this to work you must setup cronjobs for your Magento installation. Contact your hosting provider for assistance on how to do so.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </useautocancel>
            <sort_order>
              <label><![CDATA[<b>Sort order:</b>]]></label>
              <comment><![CDATA[The order of which this payment method is displayed to the customer.]]></comment>
              <frontend_type>text</frontend_type>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </bamboracheckout>
      </groups>
    </payment>
  </sections>
</config>